<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PatientsInformation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>com.patientdata.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EditServlet1</servlet-name>
    <servlet-class>com.patientdata.EditServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet1</servlet-name>
    <url-pattern>/EditServlet1</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>EditServlet2</servlet-name>
    <servlet-class>com.patientdata.EditServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet2</servlet-name>
    <url-pattern>/EditServlet2</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.patientdata.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>com.patientdata.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
</web-app>